.advertisement {
  margin: 0 auto;
}

.advertisement__title {
  font-family: @font-family-open-sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @color-default-white;
  width: 280px;
  text-align: center;
  margin: 0 auto 34px auto;
}

.advertisement__wrapper {
  background-color: @color-blue-charcoal;
  padding: 28px 0 38px 0;
  margin-top: -6px;
}

.advertisement__block-download {
  font-family: @font-family-open-sans;
}

.advertisement__link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @color-default-white;
  border: 3px solid @color-default-white;
  border-radius: 29px;
  padding: 21px 38px;
  margin: 0 auto 32px auto;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 280px;
}

.advertisement__download {
  list-style: none;
  display: flex;
  align-items: center;
}

.advertisement__text {
  font-family: @font-family-open-sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @color-default-white;
  max-width: 280px;
  text-align: center;
}
