.contacts {
  padding: 50px 0;
  font-family: @font-family-open-sans;
}

.contacts__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 230px;
  margin: 0 auto 45px auto;
}

.contacts__list {
  margin: 0 0 41px 0;
  padding: 0 40px;
  text-align: center;
}

.contacts__item {
  list-style: none;
  margin-bottom: 35px;
}

.contacts__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0 0 13px 0;
}

.contacts__link {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @color-cerise;
}

.contacts__map {
  clip-path: polygon(50% 16%, 100% 0, 100% 100%, 0 100%, 0 0);
}
