.contacts {
  padding: 50px 0;
  font-family: @font-family-open-sans;
}

.contacts__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  max-width: 230px;
}

.contacts__list {
  margin: 0 0 41px 0;
  padding: 0 40px;
}

.contacts__item {
  list-style: none;
}

.contacts__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts__link {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @color-cerise;
}
