.form-feedback {
  font-family: @font-family-open-sans;
  margin: 0 auto 26px auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    margin: 0;
    padding: 0;
    grid-gap: 64px 0;
  }
}

.form-feedback__name {
  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 2";
    grid-row: ~"1 / 2";
    order: 0;
    margin-top: 12px;
  }
}

.form-feedback__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  padding: 0 2px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 50px auto;
    width: max-content;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-feedback__label-span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-cerise;
  text-transform: uppercase;
  display: block;
  width: min-content;
  margin: 0 0 17px 23px;

  @media (min-width: @tablet-width) {
    margin: 0 20px 0 0;
    align-self: center;
  }
}

.form-feedback__input {
  padding: 23px 60px 23px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @color-whisper;
  border-radius: 1px;
  width: 100%;

  &:hover {
    border: 2px solid @color-midnight;
    border-radius: 1px;
  }

  &:active {
    border: 2px solid @color-cerise;
    border-radius: 1px;
  }
}

.form-feedback__fieldset-checkbox {
  background-color: @color-white-smoke;
  margin: 0 0 42px 0;
  padding: 42px 20px 0 20px;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    grid-row: ~"3 / 4";
    order: 0;
    padding: 0 20px;
    margin: 0;
  }
}

.form-feedback__checkbox {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @color-whisper;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.form-feedback__checkbox-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 374px;
    margin: 0 31px;
  }
}

.form-feedback__input-checkbox {
  visibility: hidden;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form-feedback__legend-checkbox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-cerise;
  max-width: 218px;
  text-align: center;
  margin-bottom: 44px;
  text-transform: uppercase;
}

.form-feedback__checkbox-list {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-feedback__checkbox-item {
  margin-bottom: 69px;

  @media (min-width: @desktop-width) {
    width: 33%;
  }
}

.form-feedback__label-checkbox {
  padding-left: 22px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -38px;
    width: 35px;
    height: 35px;
    border: 2px solid @color-whisper;

    @media (min-width: @desktop-width) {
      left: 0;
    }
  }

  &:hover::before {
    border: 2px solid @color-midnight;
  }

  &:active::before {
    border: 2px solid @color-cerise;
  }

  @media (min-width: @desktop-width) {
    padding-left: 58px;
  }
}

.form-feedback__input-checkbox:checked + .form-feedback__label-checkbox::before {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: -3px;
  left: -38px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/svg/tick@2x.svg");
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }
}

.form-feedback__contacts {
  @media (min-width: @tablet-width) {
    padding: 0 20px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    grid-row: ~"2 / 3";
    order: 0;
    margin: 0;
  }
}

.form-feedback__fieldset-contacts {
  margin: 0 auto;
  padding: 42px 20px 44px 20px;
  border: none;

  @media (min-width: @tablet-width) {
    order: -1;
    border: 2px solid @color-whisper;
    border-radius: 1px;
    padding: 41px 60px 0;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.form-feedback__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-cerise;
  text-transform: uppercase;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0 auto;
  }
}

.form-feedback__contacts-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 198px;
    margin: 0 31px;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
    margin: 0 25px;
  }
}

.form-feedback__contacts-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.form-feedback__contacts-span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-cerise;
  text-transform: uppercase;
  display: block;
  max-width: max-content;
  margin: 0 0 17px 23px;

  @media (min-width: @tablet-width) {
    margin: 22px 0 41px 23px;
  }
}

.form-feedback__contacts-input {
  padding: 23px 83px 23px 20px;
  width: 100%;
  border: 2px solid @color-whisper;
  border-radius: 1px;

  &:hover {
    border: 2px solid @color-midnight;
  }

  &:active {
    border: 2px solid @color-cerise;
  }
}

.form-feedback__contacts-btn {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 60px;
    height: 62px;
    border-color: transparent;
  }
}

.form-feedback__fieldset-radio {
  background-color: @color-white-smoke;
  margin: 0 0 42px 0;
  padding: 42px 20px 0 20px;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    max-width: 580px;
    order: -3;
    padding: 0 20px;
  }
}

.form-feedback__legend-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 318px;
    margin: 0 25px;
  }
}

.form-feedback__radio {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @color-whisper;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.form-feedback__radio-legend {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-cerise;
  max-width: 178px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 52px;

  @media (min-width: @tablet-width) {
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-feedback__radio-list {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  list-style: none;

  @media (min-width: @desktop-width) {
    padding: 54px 74px 54px 74px;
  }
}

.form-feedback__radio-item {
  margin: 0 auto 62px;

  @media (min-width: @desktop-width) {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-feedback__radio-input {
  visibility: hidden;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}

.form-feedback__radio-label {
  padding-left: 31px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -35px;
    width: 37px;
    height: 37px;
    border: 2px solid @color-whisper;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid @color-midnight;
  }

  &:active::before {
    border: 2px solid @color-cerise;
  }
}

.form-feedback__radio-input:checked + .form-feedback__radio-label::before {
  background-image: url("../img/svg/radio-small.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/svg/radio-small@2x.svg");
  }
}

.form-feedback__textarea {
  @media (min-width: @tablet-width) {
    padding: 0 20px;
    margin-bottom: 70px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    grid-row: ~"4 / 5";
    order: 0;
    margin: 0;
  }
}

.form-feedback__fieldset-textarea {
  margin: 0;
  padding: 42px 20px 52px 20px;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @color-whisper;
    border-radius: 1px;
    padding: 42px 60px 52px 60px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.form-feedback__textarea-legend {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-cerise;
  margin: 0;
  text-align: center;
}

.form-feedback__textarea-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 184px;
    margin: 0 38px;
  }
}

.form-feedback__textarea-comment {
  width: 100%;
  height: 197px;
  border: 2px solid @color-whisper;
  border-radius: 1px;
  padding: 22px 25px 0 20px;
  font-size: 18px;
  line-height: 30px;
}

.form-feedback__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    padding: 0 20px;
  }
}

.form-feedback__button {
  background-color: @color-medium-sea-green;
  border: 2px solid @color-medium-sea-green;
  border-radius: 1px;
  padding: 23px 45px;
  cursor: pointer;
  margin: 0 auto 46px;
  max-width: 296px;

  &:hover {
    background-color: @color-eucalyptus;
  }

  &:active .form-feedback__button-span {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form-feedback__button-span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-default-white;
}

.form-feedback__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.form-feedback__text-span {
  color: @color-cerise;
}

.form-feedback__text-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
