.form-feedback {
  font-family: @font-family-open-sans;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
    margin: 0 22px 43px 22px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 0;
    grid-gap: 52px 0;
    margin: 0 auto;
    max-width: 936px;
  }
}

.form-feedback input::placeholder {
  color: @color-midnight;
}

.form-feedback__name {
  padding: 0 20px 24px;

  @media (min-width: @tablet-width) {
    order: 5;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 2";
    grid-row: ~"1 / 2";
    order: 0;
    margin-top: 20px;
    padding: 0;
  }
}

.form-feedback__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 433px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-feedback__label-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-cerise;
  text-transform: uppercase;
  display: block;
  width: min-content;
  margin: 0 0 6px 23px;

  @media (min-width: @tablet-width) {
    margin: 0 19px 0 0;
    align-self: center;
  }
}

.form-feedback__input {
  padding: 15px 60px 15px 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @color-whisper;
  border-radius: 1px;
  width: 100%;

  &:hover {
    border: 2px solid @color-midnight;
    border-radius: 1px;
  }

  &:focus {
    border: 2px solid @color-cerise;
    border-radius: 1px;
    outline: none;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 18px 15px 18px;
    width: 100%;
  }
}

.form-feedback__fieldset-checkbox {
  background-color: @color-white-smoke;
  margin: 0;
  padding: 40px 20px 46px;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 42px 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    grid-row: ~"3 / 4";
    order: 0;
    padding: 0;
    margin: 0 0 5px;
  }
}

.form-feedback__checkbox {
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @color-whisper;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    max-width: 936px;
  }
}

.form-feedback__checkbox-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 374px;
    margin: 0 31px;
  }
}

.form-feedback__input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form-feedback__legend-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-cerise;
  max-width: 218px;
  text-align: center;
  margin-bottom: 43px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-feedback__checkbox-list {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0 15px 0 33px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0 16px 0 92px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 47px 0 0;
    justify-content: space-evenly;
  }
}

.form-feedback__checkbox-item {
  margin-bottom: 52px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    &:last-of-type {
      margin-bottom: 52px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 28%;
    margin-left: 50px;

    &:first-of-type {
      order: -1;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      margin-left: 30px;
    }

    &:last-of-type {
      margin-left: 30px;
      margin-bottom: 60px;
      order: 5;
    }
  }
}

.form-feedback__label-checkbox {
  padding-left: 25px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -32px;
    width: 37px;
    height: 37px;
    border: 2px solid @color-whisper;
    background-color: @color-default-white;

    @media (min-width: @tablet-width) {
      left: -36px;
    }

    @media (min-width: @desktop-width) {
      left: 0;
      top: -7px;
    }
  }

  &:hover::before {
    border: 2px solid @color-midnight;
  }

  &:active::before {
    border: 2px solid @color-cerise;
  }

  @media (min-width: @tablet-width) {
    padding-left: 21px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 59px;
  }
}

.form-feedback__input-checkbox:checked + .form-feedback__label-checkbox::before {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @color-default-white;
  top: -6px;
  left: -32px;

  @media (min-width: @tablet-width) {
    top: -6px;
    left: -36px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
    top: -7px;
  }
}

.form-feedback__contacts {
  @media (min-width: @tablet-width) {
    padding: 0;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    grid-row: ~"2 / 3";
    order: 0;
    margin: 0;
    padding: 0;
  }
}

.form-feedback__fieldset-contacts {
  margin: 0 auto;
  padding: 34px 20px 26px 20px;
  border: none;

  @media (min-width: @tablet-width) {
    order: -1;
    border: 2px solid @color-whisper;
    border-radius: 1px;
    padding: 32px 58px 0;
    margin-bottom: 18px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    max-width: 936px;
    display: flex;
    justify-content: space-around;
    padding: 0 19px;
    margin-bottom: 6px;
  }
}

.form-feedback__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-cerise;
  text-transform: uppercase;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0 auto;
  }
}

.form-feedback__contacts-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 198px;
    margin: 0 31px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 25px;
  }
}

.form-feedback__contacts-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 0 0;
  }
}

.form-feedback__contacts-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @color-cerise;
  text-transform: uppercase;
  display: block;
  max-width: max-content;
  margin: 0 0 4px 23px;

  @media (min-width: @tablet-width) {
    margin: 8px 0 30px 18px;
  }

  @media (min-width: @desktop-width) {
    margin: 10px 0 14px 18px;
  }
}

.form-feedback__contacts-input {
  padding: 22px 20px 20px 20px;
  width: 100%;
  border: 2px solid @color-whisper;
  border-radius: 1px;
  letter-spacing: 1px;

  &:hover {
    border: 2px solid @color-midnight;
  }

  &:focus {
    border: 2px solid @color-cerise;
    border-radius: 1px;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    padding: 18px 82px 22px 20px;
  }

  @media (min-width: @desktop-width) {
    width: 375px;
  }
}

.form-feedback__contacts-btn {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: @color-whisper;
    top: 34px;
    right: 59px;
    width: 59px;
    height: 59px;
    border: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    top: 30px;
    left: 50%;
    transform: translateX(-96px);
  }
}

.form-feedback__contacts-btn--mail {
  @media (min-width: @tablet-width) {
    top: 164px;
    right: 59px;
  }

  @media (min-width: @desktop-width) {
    top: 30px;
    left: 88%;
    transform: translateX(-4px);
  }
}

.form-feedback__fieldset-radio {
  background-color: @color-white-smoke;
  margin: 0 0 37px 0;
  padding: 38px 20px 0 20px;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: transparent;
    padding: 0;
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    order: -3;
    padding: 0;
    margin: 0 0 0 37px;
  }
}

.form-feedback__legend-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 318px;
    margin: 0 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 16px 0 16px;
  }
}

.form-feedback__radio {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @color-whisper;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 432px;
  }
}

.form-feedback__radio-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @color-cerise;
  max-width: 178px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-feedback__radio-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  list-style: none;
  padding-left: 37px;

  @media (min-width: @tablet-width) {
    padding-left: 98px;
  }

  @media (min-width: @desktop-width) {
    padding: 42px 33px 42px 112px;
  }
}

.form-feedback__radio-item {
  margin: 0 auto 46px;

  @media (min-width: @tablet-width) {
    &:last-of-type {
      margin-bottom: 58px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 47px;

    &:last-child {
      margin-bottom: 16px;
    }
  }
}

.form-feedback__radio-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-left: 60px;
  }
}

.form-feedback__radio-label {
  padding-left: 33px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -37px;
    width: 40px;
    height: 40px;
    border: 2px solid @color-whisper;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid @color-midnight;
  }

  &:active::before {
    border: 2px solid @color-cerise;
  }

  @media (min-width: @tablet-width) {
    padding-left: 20px;

    &::before {
      top: -8px;
      left: -42px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 20px;

    &::before {
      left: -41px;
    }
  }
}

.form-feedback__radio-input:checked + .form-feedback__radio-label::before {
  background-image: url("../img/svg/radio-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-feedback__textarea {
  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 69px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    grid-row: ~"4 / 5";
    order: 0;
    margin: 0;
    padding: 0;
  }
}

.form-feedback__fieldset-textarea {
  margin: 0;
  padding: 17px 20px 48px 20px;
  border: none;

  @media (min-width: @tablet-width) {
    border: 2px solid @color-whisper;
    border-radius: 1px;
    padding: 35px 60px 42px 60px;
  }

  @media (min-width: @desktop-width) {
    max-width: 936px;
    padding: 35px 56px 0;
  }
}

.form-feedback__textarea-legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @color-cerise;
  margin: 0;
  text-align: center;
}

.form-feedback__textarea-title {
  @media (min-width: @tablet-width) {
    display: block;
    width: 184px;
    margin: 0 38px;
  }
}

.form-feedback__textarea-comment {
  width: 100%;
  height: 197px;
  border: 2px solid @color-whisper;
  border-radius: 1px;
  padding: 14px 25px 0 20px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    padding: 15px 18px;
  }

  @media (min-width: @desktop-width) {
    height: 127px;
    width: 820px;
    margin-bottom: 40px;
    padding: 13px 20px;
  }
}

.form-feedback__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-bottom: 1px;
  }

  @media (min-width: @desktop-width) {
    grid-column: ~"1 / 3";
    padding: 14px 0;
    max-width: 936px;
  }
}

.form-feedback__button {
  background-color: @color-medium-sea-green;
  border: 2px solid @color-medium-sea-green;
  border-radius: 1px;
  padding: 15px 45px;
  cursor: pointer;
  margin: 0 auto 34px;
  max-width: 296px;

  &:hover {
    background-color: @color-eucalyptus;
  }

  &:active .form-feedback__button-span {
    opacity: 0.3;
  }

  &:disabled {
    background: @color-whisper;
    border: 2px solid @color-whisper;
    border-radius: 1px;
    opacity: 1;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 100%;
    max-width: 300px;
    margin-left: -2px;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 30px;
    max-width: 300px;
    margin-left: -2px;
  }
}

.form-feedback__button-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-default-white;
}

.form-feedback__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.form-feedback__text-span {
  color: @color-cerise;
}

.form-feedback__text-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-left: 5px;
    margin-right: 2px;
  }
}

.form-feedback__textarea-label textarea {
  resize: none;
}
