.gallery-photo {
  margin: 0 22px;
  padding-top: 54px;
  font-family: @font-family-open-sans;
}

.gallery-photo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  max-width: 252px;
  text-align: center;
  margin: 0 0 60px 0;
}
