.header-nav {
  margin: 0 auto;
  font-family: @font-family-open-sans;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}

.header-nav__list {
  color: @color-default-white;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.header-nav__item {
  list-style: none;

  @media (min-width: @desktop-width) {
    margin-right: 79px;
  }
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  color: @color-default-white;
}
