.intro {
  background-image: url("../img/bg-header/back-mobile.png");
  background-color: @color-blue-charcoal;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100%;
  color: @color-default-white;
  font-family: @font-family-open-sans;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-header/back-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-header/back-tablet.png");
    background-size: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-header/back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-header/back-desktop.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-header/back-desktop@2x.png");
    }
  }
}

.intro__content {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-160px);
  width: 320px;
  height: 286px;
}

.intro__img {
  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.intro__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  max-width: 228px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 51px 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 620px;
  }

  @media (min-width: @desktop-width) {
    max-width: 800px;
  }
}

.intro__text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  max-width: 172px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 84px;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 358px;
  }
}
