.page-main {
  background-color: @color-default-white;
  font-family: @font-family-open-sans;
  overflow-x: hidden;
}

.page-main__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  max-width: 280px;
  text-align: center;
  margin: 44px auto 36px auto;

  @media (min-width: @tablet-width) {
    max-width: 490px;
    font-size: 18px;
    margin: 91px auto 72px;
  }

  @media (min-width: @desktop-width) {
    max-width: 770px;
    margin: 91px auto 66px;
  }
}

.page-main__text-hidden {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    margin-left: 4px;
  }
}

.page-main__text {
  margin: 42px auto 43px auto;
  max-width: 280px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
    max-width: 422px;
    margin: 65px auto 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 27px auto 68px;
  }
}

.page-main__wrapper {
  background-color: @color-white-smoke;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.page-main__caption {
  font-family: @font-family-open-sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  max-width: 280px;
  text-align: center;
  margin: 41px auto 70px auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    max-width: 620px;
    margin: 48px auto 64px auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 778px;
    margin: 62px auto 57px;
  }
}

.page-main__caption-span {
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    max-width: 580px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    align-self: center;
  }
}
