.panorama-day {
  margin: 0 0 20px 0;
  font-family: @font-family-open-sans;
  position: relative;
}

.panorama-day__image {
  min-width: 100vw;
  object-fit: cover;
  margin-left: -22px;
}

.panorama-day__link {
  display: block;
  background-color: @color-cerise;
  max-width: 140px;
  padding: 14px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @color-default-white;
  position: absolute;
  right: 0;
}

.panorama-day__figcaption {
  padding: 26px 10px 26px 17px;
  background-color: @color-white-smoke;
}

.panorama-day__author {
  margin: 0 0 14px 0;
}

.panorama-day__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 3px;
}

.panorama-day__time {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.panorama-day__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 25px 0;
  max-width: 255px;
}

.panorama-day__button-count {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @color-cerise;
  margin-left: 18px;
}
