.price {
  background-color: @color-white-smoke;
  padding: 58px 0 42px 0;
  font-family: @font-family-open-sans;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: @color-white-smoke;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    clip-path: polygon(0 55%, 130% 0, 100% 100%, 0% 100%);
    transform: translateY(-98%);
  }

  @media (min-width: @tablet-width) {
    padding: 64px 0 32px;

    &::before {
      clip-path: polygon(0 86%, 130% 0, 100% 100%, 0 100%);
      top: 5px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 64px 0 57px 0;

    &::before {
      clip-path: polygon(0 94%, 130% 0, 100% 100%, 0 100%);
      height: 121px;
    }
  }
}

.price__wrapper {
  overflow: hidden;
}

.price__slider {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.price__table {
  margin-bottom: 38px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.price__rates-head {
  background-color: @color-midnight;
  color: @color-default-white;
  padding: 12px 35px 27px 35px;

  @media (min-width: @tablet-width) {
    padding: 12px 28px 9px 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 16px 0 18px;
    width: 234px;
  }
}

.price__rates-head--hit {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/hit.png");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 74px;
    height: 74px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/hit-tablet.png");
      width: 61px;
      height: 61px;
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/hit.png");
      background-size: 100%;
      width: 75px;
      height: 75px;
    }
  }
}

.price__rates-side {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  padding: 17px 20px 17px 20px;
  display: none;

  @media (min-width: @tablet-width) {
    background: @color-default-white;
    display: block;
    text-align: left;
    min-width: 152px;
    padding: 7px 7px 8px 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 13px 46px 16px 19px;
    font-size: 18px;
  }
}

.price__rates-side--head {
  @media (min-width: @tablet-width) {
    background-color: inherit;
  }

  @media (min-width: @desktop-width) {
    width: 231px;
  }
}

.price__rates-data {
  background: @color-default-white;
  padding: 15px 20px 15px 20px;
  width: 152px;

  @media (min-width: @tablet-width) {
    background: @color-default-white;
    max-width: 236px;
    width: 156px;
  }
}

.price__rates-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: block;
  width: 237px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
    padding: 18px 15px 17px 15px;
  }
}

.price__rates-data--true {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/yes.svg");
    top: 17px;
    right: 18px;
    width: 31px;
    height: 21px;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    &::before {
      content: "";
      top: 11px;
      left: 50%;
      transform: translateX(-46%);
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      top: 18px;
    }
  }
}

.price__rates-data--false {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/no.svg");
    top: 15px;
    right: 20px;
    width: 27px;
    height: 27px;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    &::before {
      content: "";
      top: 8px;
      right: 50%;
      transform: translateX(16px);
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      top: 16px;
      right: 50%;
      transform: translateX(14px);
    }
  }
}

.price__rates-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.price__rates-span {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price__rates-head--side {
  padding: 18px 15px 17px 15px;
  max-width: 153px;
  text-align: start;

  @media (min-width: @desktop-width) {
    padding: 23px 65px 23px 65px;
    max-width: 276px;
  }
}

.price__toggles {
  width: 100px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__toggle {
  margin-left: 7px;
  border: none;
  cursor: pointer;

  &:first-child {
    margin-left: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 47px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 0 solid @color-midnight;
    background-color: rgba(@color-midnight, 0.3);
  }

  &:hover::after {
    background-color: rgba(@color-midnight, 0.6);
  }

  &:active::after {
    background-color: rgba(@color-midnight, 0.1);
  }

  &--active::after {
    bottom: 44px;
    width: 12px;
    height: 12px;
    border: 3px solid @color-midnight;
    background-color: transparent;
  }

  &--active:hover::after,
  &--active:active::after {
    background-color: transparent;
  }
}
