.price {
  background-color: @color-white-smoke;
  padding: 129px 0 49px 0;
  font-family: @font-family-open-sans;
  overflow: hidden;
}

.price__table {
  background-color: @color-default-white;
  margin-bottom: 45px;
}

.price__rates-head {
  background-color: @color-midnight;
  color: @color-default-white;
  padding: 19px 95px 35px 95px;
}

.price__rates-side {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.price__rates-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
}

.price__rates-span {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__rates-head--side {
  padding: 18px 24px 17px 15px;
  max-width: 153px;
  text-align: start;
}

.price__toggles {
  width: 100px;
  margin: 0 auto;
}

.price__toggle {
  margin-right: 19px;
}

.price__toggle:last-child {
  margin-right: 0;
}
