.research {
  background-color: @color-default-white;
  font-family: @font-family-open-sans;
  padding: 115px 0 120px 0;
  position: relative;
  display: none;
}

.research__wrapper {
  position: relative;
}

.research__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin: 0 auto 37px;
  max-width: 298px;
  color: @color-default-black;
}

.research__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  max-width: 534px;
  margin: 0 0 47px 488px;
}

.research__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: @color-cerise;
  display: block;
  max-width: 292px;
  margin: 0 0 0 488px;
  text-decoration-line: underline;
}
