.reviews {
  padding: 50px 20px 60px 20px;
}

.reviews__list {
  font-family: @font-family-open-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.reviews__item {
  list-style: none;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
