.reviews {
  padding: 50px 20px 60px 20px;
}

.reviews__content {
  margin: 0 0 44px 0;
  text-align: center;

}

.reviews__list {
  font-family: @font-family-open-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.reviews__item {
  list-style: none;
  display: none;
}

.reviews__item:last-child {
  display: block;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  display: block;
  margin-bottom: 31px;
}

.reviews__about-author {
  display: none;
}

.reviews__text {
  margin: 0;
}

.reviews__toggles {
  margin: 0 auto;
  width: 115px;
}

.reviews__toggle {
  margin-right: 19px;
}

.reviews__toggle:last-child {
  margin-right: 0;
}
