.upload {
  padding: 20px 0 41px 0;
  background-color: @color-white-smoke;
}

.page-main__text {
  margin: 49px auto 52px auto;
  max-width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 30px;
    max-width: 422px;
  }
}
