.upload-form {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding: 72px 20px 88px 80px;
  }
}

.upload-form__wrap {
  padding: 42px 20px 34px 41px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.upload-form__image {
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.upload-form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    max-width: 400px;
    margin-left: 78px;
  }
}

.upload-form__content {
  display: flex;
  margin-right: 35px;
  position: relative;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin: 0 7px 22px 48px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 0 26px 0;
  }
}

.upload-form__content:last-of-type {
  margin-bottom: 0;
}

.upload-form__btn {
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-right: 29px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 36px;
  }
}

.upload-form__btn svg {
  fill: rgba(@color-midnight, 0.3);

  &:hover {
    fill: rgba(@color-midnight, 0.5);
  }

  &:active {
    fill: @color-cerise;
  }

  @media (min-width: @tablet-width) {
    fill: @color-cerise;
  }
}

.upload-form__btn-crop {
  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.upload-form__btn-saturation {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.upload-form__btn-contrast {
  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.upload-form__btn--active svg {
  fill: @color-cerise;
}

.upload-form__range {
  margin-top: 39px;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin: 0;
  }
}

.upload-form__range-input {
  height: 2px;
  background-color: @color-midnight;
  outline: none;
  appearance: none;

  &::-webkit-slider-thumb {
    background-color: @color-default-white;
    border: 2px solid @color-cerise;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    outline: none;
    appearance: none;
  }

  &--active {
    width: 240px;
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    width: 203px;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.upload-form__range--active {
  display: block;
  position: absolute;
  top: 31px;
  left: -15px;

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    appearance: none;
    background-color: @color-midnight;
  }

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.upload-form__range-line {
  height: 2px;
  width: 320px;
  background-color: @color-midnight;
  opacity: 0.1;
  position: absolute;
  right: 0;
  transform: translateX(40px);

  @media (min-width: @tablet-width) {
    transform: none;
    left: 0;
    width: 275px;
  }

  @media (min-width: @desktop-width) {
    bottom: -13px;
    width: 410px;
  }
}

.upload-form__content:last-child .upload-form__range-line {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.upload-form__fill-button {
  margin-right: 35px;
  margin-left: 35px;
}

.upload-form__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 78px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0 auto 0 45px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-left: -32px;
  }
}

.upload-form__button {
  max-width: 280px;
  border: 3px solid @color-cerise;
  border-radius: 30px;
  padding: 15px 90px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    max-width: 260px;
    padding: 16px 80px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 44px 0 43px;
    max-width: 183px;
    padding: 16px 40px;
  }
}

.upload-form__button--post {
  color: @color-cerise;

  &:hover {
    background-color: @color-cerise;
    color: @color-default-white;
  }

  &:active {
    background-color: @color-cerise;
    color: rgba(@color-default-white, 0.3);
  }
}

.upload-form__button--reset {
  color: rgba(@color-midnight, 0.1);
  border-color: rgba(@color-midnight, 0.3);

  &:hover {
    border-color: rgba(@color-midnight, 0.3);
    color: rgba(@color-midnight, 0.3);
  }

  &:active {
    background-color: rgba(@color-midnight, 0.3);
    border-color: rgba(@color-midnight, 0.3);
    color: rgba(@color-default-white, 0.3);
  }
}
