.upload-form {
  @media (min-width: @tablet-width) {
    display: flex;
    max-width: 660px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 80px 57px 80px;
    max-width: 100%;
  }
}

.upload-form__wrap {
  padding: 42px 20px 34px 41px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0 0;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 157px;
  }
}

.upload-form__image {
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    min-width: 300px;
    height: 400px;
  }
}

.upload-form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 48px;
    width: 41%;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 66px;
    min-width: 426px;
  }
}

.upload-form__content {
  display: flex;
  margin-right: 35px;
  position: relative;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
    margin: 0 0 29px 0;
    width: 100%;
    position: relative;
    padding-bottom: 13px;

    &::before {
      content: "";
      position: absolute;
      background-color: @color-midnight;
      opacity: 0.1;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: -2px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 0 24px 22px;
    min-height: 47px;
    display: flex;
    align-items: center;

    &::before {
      bottom: -11px;
    }
  }
}

.upload-form__content:last-of-type {
  margin-bottom: 0;
}

.upload-form__btn {
  border: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-right: 29px;
    min-width: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 47px;
    min-width: 48px;
  }
}

.upload-form__btn svg {
  fill: @color-midnight;
  opacity: 0.3;

  &:hover {
    fill: @color-midnight;
    opacity: 0.5;
  }

  &:active {
    fill: @color-cerise;
    opacity: 1;
  }
}

.upload-form__btn-crop {
  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.upload-form__btn-saturation {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.upload-form__btn-contrast {
  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.upload-form__btn--active svg {
  fill: @color-cerise;
  opacity: 1;

  @media (min-width: @tablet-width) {
    fill: @color-midnight;
    opacity: 0.3;
  }
}

.upload-form__range {
  margin-top: 39px;
  display: none;


  @media (min-width: @tablet-width) {
    display: block;
    min-height: 30px;
    flex-grow: 1;
    margin: 0;
    transform: translateY(-5px);

    &::before {
      width: 276px;
      right: 22px;
    }
  }

  @media (min-width: @desktop-width) {
    transform: translateY(0);

    &::before {
      width: 410px;
      right: 10px;
      bottom: -20px;
    }
  }
}

.upload-form__range-input {
  height: 2px;
  background-color: @color-midnight;
  outline: none;
  appearance: none;

  &::-webkit-slider-thumb {
    background-color: @color-default-white;
    border: 2px solid @color-cerise;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    outline: none;
    appearance: none;
    cursor: pointer;

    &:hover {
      background-color: @color-cerise;
    }
  }

  &--active {
    width: 240px;
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}

.upload-form__range--active {
  display: block;
  position: absolute;
  top: 31px;
  left: -15px;

  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    appearance: none;
    background-color: @color-midnight;
  }

  @media (min-width: @tablet-width) {
    top: 7px;
    left: 95px;
    position: static;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
  }
}

.upload-form__fill-button {
  margin-right: 35px;
  margin-left: 35px;
}

.upload-form__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 78px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0 auto 0 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    min-width: 421px;
    margin: 0;
  }
}

.upload-form__button {
  max-width: 280px;
  border: 3px solid @color-cerise;
  border-radius: 30px;
  padding: 15px 90px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    max-width: 260px;
    padding: 16px 80px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 44px 0 31px;
    min-width: 183px;
    padding: 16px 40px;
  }
}

.upload-form__button--post {
  color: @color-cerise;

  &:hover {
    background-color: @color-cerise;
    color: @color-default-white;
  }

  &:active {
    background-color: @color-cerise;
    color: rgba(@color-default-white, 0.3);
  }
}

.upload-form__button--reset {
  color: rgba(@color-midnight, 0.1);
  border-color: rgba(@color-midnight, 0.1);

  &:hover {
    border-color: rgba(@color-midnight, 0.3);
    color: rgba(@color-midnight, 0.3);
  }

  &:active {
    background-color: rgba(@color-midnight, 0.3);
    border-color: rgba(@color-midnight, 0.3);
    color: rgba(@color-default-white, 0.3);
  }
}
